---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const uniqueCategory = [...new Set(allPosts.map((post) => post.data.category).flat())];

  return uniqueCategory.map((category) => {
    let filteredPosts = allPosts.filter((post) =>
      post.data.category.includes(category)
    );
    
    filteredPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
    
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={category}>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
    {posts.map((post) => (
        <PostCard 
        post={post}
        />
    ))}
  </div>
</BaseLayout>