@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.postcard-link {
    @apply transition-all ease-in-out duration-500 hover:shadow-2xl rounded overflow-hidden hover:-translate-y-1 hover:scale-105;
}

.postcard-article {
    @apply relative flex flex-col justify-between items-start rounded overflow-hidden;
}

.postcard-article-special {
    @apply flex-row overflow-hidden;
}

.postcard-image-container {
    @apply w-full h-full relative;
}

.postcard-image-container-special {
    @apply w-2/3;
}

.postcard-content {
    @apply p-4 text-left flex-grow text-neutral-50;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.postcard-content-special {
    @apply w-1/3;
}

.dark .postcard-article-special .postcard-content {
    @apply text-white;
}

.postcard-date {
    @apply text-sm font-medium mr-4;
}

.postcard-category {
    @apply text-sm font-medium;
}

.postcard-title {
    @apply text-xl font-medium my-2;
}

.postcard-description {
    @apply text-base;
}

.postcard-article-special .postcard-content {
    position: static;
}

@media (max-width: 768px) {
    .postcard-article-special {
        @apply flex-col;
    }
    .postcard-image-container-special {
        @apply w-full;
    }
    .postcard-content-special {
        @apply w-full;
    }
    .postcard-article-special .postcard-content {
        position: absolute;
    }
}
  
.postcard-description-special {
    @apply hidden;
}

@media (min-width: 1024px) {
  .postcard-description-special {
      @apply block text-base text-neutral-700;
  }
}

@media (min-width: 768px) {
    .postcard-article-special .postcard-date,
    .postcard-article-special .postcard-category,
    .postcard-article-special .postcard-title,
    .postcard-article-special .postcard-description,
    .postcard-article-special .postcard-description-special {
      @apply text-neutral-700;
    }
}

@media (prefers-color-scheme: dark) {
    .postcard-article-special .postcard-date,
    .postcard-article-special .postcard-category,
    .postcard-article-special .postcard-title,
    .postcard-article-special .postcard-description,
    .postcard-article-special .postcard-description-special {
      color: white;
    }
}

