---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = `Error 404`;
const description = `Error 404`;
---

<BaseLayout title={title} description={description}>
  <section class="flex h-full items-center p-16">
    <div
      class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
    >
      <div class="max-w-md text-center">
        <h2 class="mb-8 text-9xl font-bold">
          <span class="sr-only">Error</span>
          <span class="text-4xl dark:text-neutral-400">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl dark:text-neutral-400">
          Sorry, we couldn't find this page.
        </p>
        <p class="text-muted mb-8 mt-4 text-lg dark:text-neutral-400">
          But don't worry, you can find plenty of other things on our homepage
        </p>
        <div class="mt-4">
          <a
            href={`/`}
            class="rounded-full bg-neutral-200 px-3 py-2 text-center text-sm font-semibold no-underline hover:bg-neutral-300"
            >Back to homepage</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
