---
import BaseLayout from '../layouts/BaseLayout.astro';
import Wrapper from "../components/Wrapper.astro";
import Searchcomponents from "../components/Search.astro";
---

<BaseLayout>
  <Wrapper>
    <div class="min-h-[700px]">
      <Searchcomponents />
    </div>
  </Wrapper>
</BaseLayout>