---
---
<footer class='p-4 mt-4 prose-a:no-underline'>
  <div class='flex flex-col rounded-lg md:flex-row md:items-center md:justify-between'>
    <div class='flex justify-center md:order-1 md:items-center'>
      <a href='/why-astro' class='px-2 rounded hover:bg-neutral-100 dark:hover:bg-neutral-600'>Astro</a>
      <a href='/tailwind-typography' class='px-2 rounded hover:bg-neutral-100 dark:hover:bg-neutral-600'>Tailwind</a>
      <a href='/tags' class='px-2 rounded hover:bg-neutral-100 dark:hover:bg-neutral-600'> Tags</a>
    </div>

    <div class='flex justify-center mt-4 md:mt-0 md:order-2 md:items-center'>
      <a href='https://inote.xyz/rss.xml' class='mx-2'>
        <img src='/rss.svg' alt='RSS Feed' class='w-6 h-6' />
      </a>
      <a href='https://twitter.com/isoosixyz' class='mx-2'>
        <img src='/x.svg' alt='Twitter' class='w-6 h-6' />
      </a>
      <a href='https://github.com/isooosi' class='mx-2'>
        <img src='/github.svg' alt='Github' class='w-6 h-6' />
      </a>
    </div>


  <div class='flex justify-center mt-4 md:mt-0 md:order-3 md:items-center'>
    <p>VisVrs © {new Date().getFullYear()}</p>
    </div>
</div>
</footer>
