---
import { Icon } from 'astro-icon/components';
---
<footer class='p-4 mt-4'>
  <div class='flex flex-col rounded-lg md:flex-row md:items-center md:justify-between'>
    <!-- Navigation Links -->
    <div class='flex justify-center md:order-1 md:items-center space-x-2'>
      <a href='/why-astro/' class='nav-link'>Astro</a>
      <a href='/tailwind-typography/' class='nav-link'>Tailwind</a>
      <a href='/tags/' class='nav-link'>Tags</a>
    </div>

    <!-- Social Icons -->
    <div class='flex justify-center mt-4 md:mt-0 md:order-2 md:items-center space-x-2'>
      <a href='https://inote.xyz/rss.xml' class='icon-link'>
        <span class='sr-only'>RSS Feed</span>
        <Icon name="tabler:rss" class="icon-base"/>
      </a>
      <a href='https://twitter.com/yisibuer' class='icon-link'>
        <span class='sr-only'>X</span>
        <Icon name="tabler:brand-x" class="icon-base"/>
      </a>
      <a href='https://github.com/isooosi/VisVrs' class='icon-link'>
        <span class='sr-only'>Github</span>
        <Icon name="tabler:brand-github" class="icon-base"/>
      </a>
    </div>
  
    <!-- Logo Image -->
    <div class='nav-link flex justify-center mt-4 md:mt-0 md:order-3 md:items-center'>
      <p>VisVrs © {new Date().getFullYear()}</p>
      </div>
  </div>
</footer>

<style>

    /* Tailwind utility classes applied for hover states and color changes */
    .nav-link {
      @apply px-2 rounded no-underline text-gray-400 dark:text-gray-500 hover:text-black dark:hover:text-gray-300;
    }

    .icon-link {
      @apply mx-2;
    }

    .icon-base {
      @apply w-6 h-6 text-gray-400 dark:text-gray-500 hover:text-black dark:hover:text-gray-300;
    }
</style>
