---
import Search from '@/components/Search';
---

<header class='p-4 prose-a:no-underline'>
  <div class='flex justify-between items-center p-2'>
    <div class='flex items-center'>
      <a href='/' class='px-0 py-2'>
        <img src='/logo.svg' alt='Home' class='w-16 h-16 sm:w-10 sm:h-10 md:w-14 md:h-14 lg:w-22 lg:h-22' />
      </a>
      <a href='/category/One' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>One</a>
      <a href='/category/Two' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Two</a>
      <a href='/category/Three' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Three</a>
    </div>
    <Search />
  </div>
</header>