---
import Link from "@components/Links.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, HeaderLinks } from "@consts";
---

<header
  class="flex w-full flex-wrap bg-white py-4 text-sm sm:flex-nowrap sm:justify-start dark:bg-neutral-900"
>
  <nav
    class="mx-auto flex w-full max-w-[85rem] basis-full flex-wrap items-center justify-between px-4"
    aria-label="Global"
  >
    <a
      class="flex-none text-xl font-semibold sm:order-1 dark:text-white"
      href="/">{SITE_TITLE}</a
    >

    <div class="flex items-center gap-x-2 sm:order-3">
      <button
        type="button"
        class="relative inline-flex items-center gap-x-2 bg-white px-3 py-2 text-neutral-800 hover:bg-neutral-50 disabled:pointer-events-none disabled:opacity-50 dark:bg-neutral-900 dark:text-white dark:hover:bg-neutral-900"
      >
        <a href="/search/" class="absolute inset-0 z-10" aria-label="Search"
        ></a>
        <Icon name="tabler:search" class="icon-base" />
      </button>
      <button
        type="button"
        class="hs-collapse-toggle inline-flex items-center justify-center gap-x-2 bg-white p-2.5 text-neutral-800 hover:bg-neutral-50 disabled:pointer-events-none disabled:opacity-50 sm:hidden dark:bg-transparent dark:text-white dark:hover:bg-white/10"
        data-hs-collapse="#navbar-alignment"
        aria-controls="navbar-alignment"
        aria-label="Toggle navigation"
        id="menu-toggle"
      >
        <Icon name="tabler:menu-2" class="icon-base" />
      </button>
    </div>

    <div
      id="navbar-alignment"
      class="internal-links hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 sm:order-2 sm:block sm:grow-0 sm:basis-auto"
      aria-expanded="false"
      role="region"
    >
      <div class="mt-5 flex flex-col gap-5 sm:mt-0 sm:flex-row sm:items-center">
        {
          HeaderLinks.map((link) => (
            <Link
              href={link.href}
              class="px-4 py-3 font-medium text-neutral-600 hover:text-neutral-400 dark:text-neutral-400 dark:hover:text-neutral-500"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</header>
