---
import Pagefind from "astro-pagefind/components/Search";
---

<section class="max-w-lg mx-auto mb-6">
<Pagefind id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</section>
