<div id="waline"></div>

<script>
  class WalineComponent extends HTMLElement {
    constructor() {
      super();
      this.initWaline = this.initWaline.bind(this);
    }

    connectedCallback() {
      this.initWaline();
    }

    async initWaline() {
      if (document.getElementById("waline")) {
        try {
          const { init } = await import("@waline/client");
          await import("@waline/client/waline.css");

          init({
            el: "#waline",
            dark: "auto",
            pageview: true,
            copyright: false,
            serverURL: "https://cmt.inote.xyz/",
            locale: {
              placeholder: "可匿名留言。如需接收回复提醒，请填写邮箱",
              level0: "青铜",
              level2: "黄金",
              level3: "铂金",
              level4: "钻石",
              level5: "星耀",
            },
          });
        } catch (e) {}
      }
    }
  }

  customElements.define("waline-component", WalineComponent);
</script>

<style>
  #waline {
    margin-left: -8px;
    margin-right: -8px;
    --waline-theme-color: #262626;
  }
</style>

<waline-component></waline-component>
